<% if current_user %>
  <div id="app"></div>
<% elsif !request.path.include?("users") %>
  <h1 class="greeting">Welcome to Media Managed! Please sign up or sign in to keep track of all your shows and movies.</h1>
<% end %>
