@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// $primary-color: #87CEFA;
// $primary-border: #2590D3;
// $secondary-color: #1A1E6E;
// $background-color: #F2F2F2;
//
// $white: #FFFFFF;
//
// $star-gold: gold;
//
// $dropdown-color: #f9f9f9;
//
// $preview-default: #353333;
//
// $error-color: #F1575C;
// $error-border: #B01921;





$primary-color: #7FDBFF;
$primary-border: #0074D9;
$secondary-color: #001f3f;
$background-color: #F2F2F2;

$white: #FFFFFF;

$star-gold: gold;

$dropdown-color: #f9f9f9;

$preview-default: #353333;

$error-color: #F1575C;
$error-border: #B01921;
