@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$primary-color: #DEBC7B;
$secondary-color: #740F0B;
$tertiary-color: #584545;
$background-color: #F2F2F2;

$white: #F2F2F2;

$star-gold: #DEBC7B;

$dropdown-color: #f9f9f9;

$preview-default: #353333;

$error-color: #F1575C;
$error-border: #B01921;
