@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$primary-color: #c39e6d;
$secondary-color: #1F1D1D;
$tertiary-color: #55565a;
$background-color: #F2F2F2;

$white: #F2F2F2;

$star-gold: saturate(#c39e6d, 15%);

$dropdown-color: #F2F2F2;

$preview-default: #353333;

$error-color: darken(#E31837, 15%);

$facebook: darken(#3B5998, 10%);
