@import './constants';

div.form {
  padding-bottom: 16px;
  background-color: $white;
  border-radius: 5px;
  margin-bottom: 10px;
}

h2.form-header {
  font-size: 20px;
  margin-top: 10px;
  padding-top: 10px;
  color: $secondary-color;
  font-weight: bold;
  font-family: 'Source Sans Pro';
}

div#error_explanation, div.errors {
  color: $white;
  background-color: $error-color;
  border: 3px solid;
  border-color: $error-border;
  margin-bottom: 5px;
}

div#error_explanation h2, div.errors h2 {
  color: $white;
  font-size: 14px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  padding: 10px 15px 5px 15px;
  margin: 0;
}

div#error_explanation ul, div.errors ul {
  padding: 0 25px;
  font-size: 12px;
  margin-bottom: 10px;
}

div.user-field img {
  height: 150px;
  width: 150px;
}

div.user-field i, em {
  font-size: 12px;
}

p.goodbye {
  font-size: 14px;
  margin: 5px 0;
}

a.edit-password, a.edit-password:visited {
  font-size: 14px;
  color: $secondary-color;
  padding-top: 5px;
}

a.edit-password:hover {
  color: $white;
}
