div.homepage {
  margin: 2%;
}

h1.greeting {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #1A1E6E;
}

div.main-col {
  padding: 10px 10px 30px 10px;
}

div.col {
  text-align: center;
  padding: 10px;
}

.preview-image {
  opacity: 0.6;
}

.preview-image:hover {
  opacity: 1.0;
}
