@import './constants';

div.homepage {
  margin: 2%;
}

div.main-col {
  padding: 10px 10px 30px 10px;
}

div.col {
  text-align: center;
  padding: 10px;
}

/* Pagination + Main Div */

.homepage-options {
  background-color: $white;
  border-radius: 5px;

  button.add-media {
    margin: 0 30px 30px 30px;
  }

  .pagination {
    display: inline-block;
    float: right;
    margin: 0 30px 30px 30px;

    button {
      color: $background-color;
      margin-left: 20px;
    }

    button:focus, button:hover {
      color: $white
    }
  }
}

// Previews

.preview-item {
  opacity: 0.7;
  position: relative;
  height: 350px;
  width: 233px;

  color: $preview-default;

  margin: auto;
  padding: 10px;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview-item:hover {
  opacity: 1.0;
}

.fa-film {
  margin-top: 50px;
  font-size: 60px;
}

// Responsiveness

@media screen and (min-width: 90em) and (max-width: 110em) {
  .preview-item {
    height: 300px;
    width: 200px;
  }
}

@media screen and (min-width: 75em) and (max-width: 89.9375em) {
  .preview-item {
    height: 250px;
    width: 166px;
  }
}

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .preview-item {
    height: 225px;
    width: 150px;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .preview-item {
    height: 290px;
    width: 193px;
  }
}

@media screen and (max-width: 39.9375em) {
  .preview-item {
    height: 375px;
    width: 250px;
  }

  .homepage-options {
    a {
      margin: 5px;
    }

    button.add-media {
      display: flex;
      margin: 0 auto 0 auto;
    }
  }

  .pagination {
    visibility: hidden;
  }
}
