@import './constants';

div.homepage {
  margin: 2%;
}

div.no-media-landing {
  margin: 2%;
  text-align: center;
}

// No Media Message
.no-media-greeting {
  margin: 10% 1.5% 1% 1.5%;
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: $secondary-color;
  text-align: center;
}

@media screen and (max-width: 63.9375em) {
  .no-media-greeting {
    margin: 15% 1.5% 1% 1.5%;
  }
}

// No Media Div
.prompt-to-add {
  display: inline-block;
  margin: 2%;
  white-space: nowrap;

  p {
    padding: 10px;
    color: $secondary-color;
  }

  a {
    padding: 50px;
  }

  button {
    margin: 0
  }
}

//Media In Collection Message

.media-greeting {
  margin: 4% 1.5% 2% 1.5%;
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: $secondary-color;
  text-align: center;
}

@media screen and (max-width: 63.9375em) {
  .media-greeting {
    margin: 10% 1.5% 2% 1.5%;
  }
}

//Preview Tiles

.media-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.media-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  border-radius: 5px;
}

.tiles-group {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.tiles {
  display: flex;
  flex-direction: row;
}

.preview-picture {
  display: flex;
  opacity: 0.7;
  position: relative;
  height: 350px;
  width: 233px;
  color: $preview-default;

  flex-direction: column;
  align-items: center;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    padding: 5px;
    margin: 0;
  }
}

.preview-picture:hover {
  opacity: 1.0;
}

.fa-film {
  margin-top: 50px;
  font-size: 60px;
}

.preview-tile {
  padding: 10px;
}

// Pagination
 .page-button {
   padding: 10px;
   font-size: 50px;
 }

 .active {
   color: $secondary-color;
 }

 .inactive {
   color: lighten($tertiary-color, 10%);
 }

//Responsiveness

@media screen and (min-width: 90em) and (max-width: 110em) {
  .preview-picture {
    height: 300px;
    width: 200px;
  }
}

@media screen and (min-width: 75em) and (max-width: 89.9375em) {
  .preview-picture {
    height: 225px;
    width: 150px;
  }
}

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .preview-picture {
    height: 225px;
    width: 150px;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .preview-picture {
    height: 250px;
    width: 167px;
  }

  .tiles-group {
    flex-direction: column;
  }

  .page-button {
    padding: 20px;
    font-size: 60px;
  }
}

@media screen and (max-width: 39.9375em) {
  .preview-picture {
    height: 375px;
    width: 250px;
  }

  .tiles-group {
    flex-direction: column;
  }

  .tiles {
    flex-direction: column;
  }

  .medium-up-pagination {
    visibility: hidden;
  }
}

//Add Media

.new-media-button {
  display: flex;
  justify-content: center;
  padding-top: 16px;

  button {
    color: $primary-color;
  }

  button:hover, button:focus {
    color: $white;
  }
}
