@import './constants';

html {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

::selection {
  background: lighten($primary-color, 15%);
}

::-moz-selection {
  background: lighten($primary-color, 15%);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  background: url(https://s3.amazonaws.com/media-managed-production/popcorn-40.jpg)
    no-repeat
    center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
  flex: 1;
}

li a, li a:visited {
  display: inline-block;
  text-align: center;
  padding: 15px 15px;
  height: 60px;
  text-decoration: none;
  color: $primary-color;
}

li a:hover {
  color: $white;
}

a:focus {
  color: $primary-color
}

button {
  color: $white;
  background-color: $secondary-color;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
}

button:hover, button:focus {
  color: $primary-color;
  background-color: $secondary-color;
}

/* LoggedOutMessage */

h1.greeting {
  margin: 5% 1.5%;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: $secondary-color;
  text-align: center;
}

/* NavBar */

ul.top-navbar {
  background-color: $secondary-color;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.links {
  list-style-type: none;
}

li.name {
  float: left;
  font-size: 20px;
  font-family: 'Courgette', cursive;
}

ul.links li {
  float: right;
}

ul.links li a:hover, .dropdown:hover .dropbtn {
  background-color: $primary-color;
  color: $white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $dropdown-color;
    min-width: 65px;
    max-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    z-index: 1;
}

.dropdown-content a {
    text-align: center;
    display: block;
    padding: 7px 0;
    height: 40px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.username {
  font-size: 18px;
}

/* Flash Notice */

.flash {
  background-color: $primary-color;
  color: $secondary-color;
  font-size: 12px;
  padding: 3px 5px;
}

#close-flash {
  cursor:pointer;
  float: right;
}

/* Footer */

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 10px 20px;
  background-color: $secondary-color;
}

footer a, footer a:visited {
  color: $white;
}

footer a:hover {
  text-decoration: underline dotted;
}
