body {
  background-color: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
}

li a, li a:visited {
    display: inline-block;
    text-align: center;
    padding: 15px 15px;
    height: 60px;
    text-decoration: none;
    color: #87cefa;
}

li a:hover {
  color: white;
}

/* NavBar */

ul.top-navbar {
  background-color: #191970;
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

ul.links {
  list-style-type: none;
}

li.name {
  float: left;
  font-size: 20px;
  font-family: 'Courgette', cursive;
}

ul.links li {
  float: right;
}

ul.links li a:hover, .dropdown:hover .dropbtn {
    background-color: #87cefa;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #191970;
    text-decoration: none;
    display: block;
    padding: 7px 0px;
    height: 40px;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Flash Notice */

.flash {
  background-color: #87cefa;
  color: white;
  font-size: 12px;
  padding: 3px 5px;
}

#close-flash {
  cursor:pointer;
  float: right;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 10px 20px;
  background-color: #89CFF8;
}

footer a, footer a:visited {
  color: white;
}

footer a:hover {
  color: #191970;
}
