@import './constants';

div.new-media-page {
  margin: 10% 20% 2% 20%;
  border-radius: 5px;
}

@media screen and (max-width: 63.9375em) {
  div.new-media-page {
    margin: 15% 5% 2% 5%;
  }
}

.new-media-greeting {
  margin: 2% 1.5%;
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: $secondary-color;
  text-align: center;
}

/* Database Search Results */

.add-ownership {
  margin-bottom: 5px;
  border: 2px solid $secondary-color;
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  a {
    color: $secondary-color
  }

  a:hover, a:focus {
    color: $primary-color
  }
}

@media screen and (max-width: 39.9375em) {
  .add-ownership {
    flex-direction: column;
  }
}

.media-title {
  display: inline-block;
  line-height: 50px;
  margin: 0 0 0 10px;
}

.rating-field {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;

  button {
    margin: 0 5px 0 0;
    padding: 5px;
    border-radius: 50px;
    background: $white;
    color: $star-gold;
  }
}

.submit-ownership {
  margin: 10px;
  padding: 5px;
  display: inline-block;
  height: 30px;
  width: 70px;
  font-size: 14px;
  text-align: center;
}

// OMDb Search

.search-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  p {
    color: $secondary-color;
    font-weight: bold;
    margin-bottom: 5px;
  }

  button {
    margin: 0;
  }
}

// Already in Database

.in-database-message {
  text-align: center;

  p {
    font-weight: bold;
  }
}

// OMDB Add Form

.omdb-add-form {

  .message {
    text-align: center;
    font-weight: bold;
  }
}

/* Form Select Buttons */

.select-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font-weight: bold;
    color: $secondary-color;
  }

  .select-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-select-button {
    margin-right: 4px;
  }

  .show-select-button {
    margin-left: 4px;
  }
}

/* Forms */

.new-media-form {
  background-color: $white;
  border-radius: 5px;
  padding: 10px 20px;
}

h1.form-header {
  font-size: 24px;
  margin-top: 10px;
  color: $secondary-color;
  font-weight: bold;
  font-family: 'Source Sans Pro';
}

.description-label {
  margin: 16px 0;
}

.fa-exclamation:before {
  color: $error-color;
  font-size: 20px;
  margin-left: 10px;
}

.hidden {
  visibility: hidden;
}

.submit-error {
  color: $error-color;
  font-size: 18px;
}

// Genre Checkboxes

.genre {
  padding: 0 0 0 10px;

  input {
    margin: 0 5px 10px 5px;
  }
}
