div.form {
  padding-bottom: 16px
}

h2.form-header {
  font-size: 20px;
  margin-top: 10px;
  color: #191970;
  font-weight: bold;
  font-family: 'Source Sans Pro';
}

div#error_explanation {
  color: white;
  background-color: #F35659;
  border: 3px solid;
  border-color: #B21519;
  margin-bottom: 5px;
}

div#error_explanation h2 {
  color: white;
  font-size: 14px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  padding: 10px 15px 5px 15px;
  margin: 0px;
}

/* #F2F2F2 */

div#error_explanation ul {
  padding: 0px 25px;
  font-size: 12px;
  margin-bottom: 10px;
}

div.user-field img {
  height: 150px;
  width: 150px;
}

div.user-field i, em {
  font-size: 12px;
}

p.goodbye {
  font-size: 14px;
  margin: 5px 0px;
}

a.edit-password, a.edit-password:visited {
  font-size: 14px;
  color: #191970;
  padding-top: 5px;
}

a.edit-password:hover {
  color: white;
}
